<footer>
	<div class="container">
		<div class="row">
			<div class="col-sx-12 col-sm-8 col-md-8 col-lg-8">
				<ul class="foot-nav">
					{{ navigation:links group="footer" }}
				</ul>
			</div>
			<div class="col-sx-12 col-sm-4 col-md-4 col-lg-4 tx-al-ri">
				<div class="marca-cont">
					<a style="color:white !important;" href="{{ url:site }}" target="_blank">Desarrollo de software <div class="ahorranito"></div> imagin<span class="a-logo">a</span>mos</a>
				</div>
			</div>
		</div>
	</div>
</footer>

