<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="es">
<head>
	{{ theme:partial name="metadata" }}
</head>
<body>
	{{ theme:partial name="header" }}
	{{ session:messages success="alert alert-success" notice="alert alert-block" error="alert alert-error" }}
	{{ theme:partial name="breadcrumbs"}}
	<div class="container">
		{{ template:body }}
	</div>

	<footer>
		{{ theme:partial name="footer" }}
	</footer>
</body>