@import "nib"

vendor-prefixes = webkit o ms moz official
// animacion(parametro)
// 	-webkit-animation parametro
// 	-moz-animation parametro
// 	-o-animation parametro
// 	-ms-animation parametro
// 	animation parametro

body
	font-size 16px !important

hr
	border-top rgba(24,188,156,0.4) solid 0.1rem !important

p
	text-align justify

h1
h2
h3
h4
	color rgb(51,74,98) !important

a
	color rgb(51,74,98)
	&:hover
		color rgb(24,188,156)
		text-decoration none

// Estilos del header

header
	background-color rgb(51,74,98)
	margin-top -9.2rem !important
	margin-bottom 1rem
	padding 0 !important
	top 0 !important
	width 100%

.navbar-default
	background-color transparent !important
	border none !important
	padding 0 !important
	
.navbar-brand
	background-image url(../img/logo.png)
	background-repeat no-repeat
	background-size contain
	width 15rem
	margin 1.5rem 2rem 0 0

.navbar-nav
	padding 1rem 0 !important
	li
		border-right rgb(24,188,156) groove 0.1rem
		&:last-child
			border-right none
		&:hover
			background-color rgb(24,188,156)
		&:focus
			background-color rgb(24,188,156)
		&.active
			background-color rgb(24,188,156)
		a
			padding 1rem 2rem !important
			color white !important

.navbar-right
	li
		background-color transparent !important
		border none !important
		a
			color white !important
			&:focus
				background-color rgb(24,188,156) !important

.carret
	&:hover
		border-top-color #fff
		border-bottom-color #fff

// Estilos para el banner principal

.carousel
	img
		width 100% !important

.carousel-caption
	background-color rgba(51,74,98,0.6) !important
	width 100%
	left 0
	bottom 0
	padding-bottom 2rem
	p
		text-align center
	h3
		color white  !important

.carousel-indicators
	bottom 0 !important
	width auto !important
	right 0
	left 0
	margin 0 !important
	text-align right
	padding 0 2rem
	li
		border rgb(24,188,156) 0.2rem solid !important
		&.active
			background-color rgb(24,188,156) !important

.carousel-control
	width 5rem !important
	span
		color rgb(24,188,156) !important

// Estilos varios del home

.cont-dest
	margin 1rem 0
	border 0.2rem solid rgb(24,188,156)
	padding 0.5rem
	img
		width 100%

.cont
	padding 1rem
	p
		min-height 9rem !important
		text-align justify

.btn-primary
input[type="submit"]
	border-radius: 0 !important;
	background-color rgb(24,188,156) !important
	border none !important
	color white !important

// Estilos para Sobre nosotros

.cont-img
	margin 1rem 0
	padding 0.5rem
	width 100%
	img
		width 100%

.cont-video
	height 0
	margin 1rem 0
	overflow hidden
	padding-bottom 56%
	padding-top 1rem
	position relative
	position relative
	width 100%
	iframe
		height 100%
		left 0
		position absolute
		top 0
		width 100%

// Estilos para blog

.cont-img-blog
	border 0.2rem solid rgb(24,188,156)
	margin 1rem 0
	padding 0.5rem
	img
		width 100%

.post-img
	width 30%
	height 25rem
	overflow hidden
	float left
	margin 1.5rem 1.5rem 0 0
	background-color rgba(gray,0.2)
	img
		width 80%
		margin 0 10%		

.post-date
	color rgb(24,188,156)
	display block
	font-size 1.3rem
	font-style italic
	&:before
		content 'Publicado: '

.panel
	border 0.2rem solid rgb(24,188,156) !important
	border-radius: 0 !important;

.panel-heading
	background-color rgb(24,188,156) !important
	border-radius: 0 !important;

// Estilos para productos

.cont-prod
	border 0.2rem solid rgb(24,188,156)
	margin 0 0 1rem 0
	padding 0.5rem

.cont-img-prod
	height 15rem
	overflow hidden
	width 100%
	img
		width 100%

.price
	color rgb(24,188,156)
	display block
	font-size 2rem
	font-style italic

// Estilos para el footer

footer
	width 100%
	background-color rgb(51,74,98)
	a
		font-size 1.5rem
		line-height 0 !important
		&:hover
			text-decoration none !important
		span
			&.a-logo
				color rgb(31,208,252)

.marca-cont
	margin-top 0.8rem

.ahorranito
	background-image url(../img/ahorranito.png)
	background-position center
	background-repeat no-repeat
	display inline-block
	height 20px
	margin-bottom -0.5rem
	vertical-aling middle
	width 20px

ul
	&.foot-nav
		li
			display inline-block
			vertical-aling middle
			margin-top 0.5rem
			a
				color white !important
				padding 0.5rem 2rem 0.5rem 2rem
				font-size 1.2rem
				height 0
				line-height 0
				&:hover
					text-decoration none !important
					background-color rgb(24,188,156)

// oocss

.no-margin
	margin 0 !important

.tx-al-ri
	text-align right

.mtop1
	margin-top 1rem

.mbot1
	margin-bottom 1rem

.tx-al-ri
	text-align right

.thumbnail
	border 0.2rem solid rgb(24,188,156) !important
	padding 0.5rem !important
	border-radius: 0 !important;

label
	color rgb(51,74,98) !important

input[type="text"]
input[type="password"]
select
textarea
.list-group-item
	border 0.2rem solid rgb(24,188,156) !important
	padding 1rem !important
	border-radius: 0 !important;

.list-group-item
	border-bottom none !important
	&:last-child
		border-bottom 0.2rem solid rgb(24,188,156) !important
